.contentContainer {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    2deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(241, 241, 241, 1) 20%
  );
}

.hero {
  max-width: 600px;

  h1 {
    color: var(--orange-100);
    font-size: 2.25rem;
    line-height: 1.505rem;
    font-weight: 900;
    margin-top: 1rem;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;
    span {
      font-weight: bold;
    }
  }
}
